<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301493702264-0pap0dbm5s8j12qtuf0obcavv2ou879i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301493702264-0pap0dbm5s8j12qtuf0obcavv2ou879i</string>
	<key>API_KEY</key>
	<string>AIzaSyCg5LGgSJAL7-KGVCty86So_sn2R-5L7FE</string>
	<key>GCM_SENDER_ID</key>
	<string>301493702264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myproject</string>
	<key>PROJECT_ID</key>
	<string>myproject-4afb1</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-4afb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301493702264:ios:e17530e70ddbf76aed678d</string>
</dict>
</plist>